@tailwind base;
@tailwind components;
@tailwind utilities;

/* use total */

:root {
    --main: #00189D;
    --task : #F2EFEF;
  }
  
  *,
  *::afterm *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}